<h1> Enter the Question Information </h1>
<%= form_for @question do |f| -%>
    <label> QuestionId </label>
    <%= f.text_field :QuestionId %>
    <label> QuestionText </label>
    <%= f.text_field :QuestionText %>
    <%= f.submit "Submit" %>
<% end %>

<br />
<h1> Display all Question info</h1>
<% if !@question.blank? %>
    <% for item in @questions %>
        <strong>Question <%=item.QuestionId %>: </strong><%= item.QuestionText %><br />
    <%end%>
<%else%>

 <%end%>